.opinion-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.opinion-myself {
  display: flex;
  flex-direction: column;
}

.opinion-item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 2px -2px 4px 7px #0000000f;
  padding: 1em;
}

.opinion-item>span {
  font-style: italic;
  margin-top: .8em;
}

.opinion-item>span:last-child {
  font-style: italic;
  align-self: flex-end;
}

.opinion-comment {
  padding: 10px;
  border-radius: 10px 10px 0 0 !important;
}

.opinion-submit {
  background-color: #4caf50;
  color: white;
  border-radius: 0 0 10px 10px;
  height: 30px;
  cursor: pointer;
}

.opinion-feedback {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}