.recipe-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 20vh;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    border-radius: 15px;
    background-color: var(--color-bg);
}

.recipe-container:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}

.recipe-image {
    position: absolute;
    right: 0;
    left: auto;
    width: 50%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}

.favorite-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 20px;
    cursor: pointer;
}

.veg-badge {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 24px;
    height: 24px;
    background-color: green;
    border-radius: 50%;
}

.vegan-badge {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 24px;
    height: 24px;
    background-color: salmon;
    border-radius: 50%;
}

.recipe-content {
    display: flex;
    position: relative;
    z-index: 1;
    flex-grow: 1;
    /* max-width: 30%; */
    padding: 15px;
}

.recipe-infos {
    max-width: 30%;
    flex-grow: 1;
}

.recipe-gradiant {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 35%;
    width: 20%;
    height: 100%;
    background: linear-gradient(to right, var(--color-bg-tr-100), var(--color-bg-tr-100), var(--color-bg-tr-90),  transparent);
}

.recipe-title {
    font-size: 25px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0;
    margin: 0;
}

.recipe-time {
    color: gray;
    font-size: 14px;
    margin-left: 10px;
}

.recipe-description {
    font-size: 18px;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding: 0;
    margin: 10px 0 0 0;
}

.recipe-divider {
    width: 2px;
    background-color: gray;
    margin: 0 10px;
}

.recipe-constraints {
    z-index: 1;
    flex-basis: 10%;
}

.recipe-constraints > * {
    margin: 10px 0;
}
