.recipe-stage {
  transform: scale(1);
  min-height: 100px;
  display: flex;
  align-items: flex-start;
  display: flex;
  align-items: flex-end;
  margin: .5em 0;
}

.recipe-stage:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.recipe-stage span:first-child {
  font-size: 3rem;
  padding: 10px;
  font-weight: 700;
}

.recipe-stage span:last-child {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1em;
}

.ingredient-row {
  height: 50px;
  gap: 10px;
  font-weight: bold;
}

.input-person {
  border: none;
  padding: 10px;
}

.recipe-stage:focus {
  transform: scale(1.05);
  border: 2px solid var(--color-bg-secondary) !important;
  box-shadow: 0 0 10px var(--color-bg-secondary);
  font-weight: bold !important;
}

.recipe-stage:focus>span:first-child {
  color: var(--color-bg-secondary);
  font-size: 4rem;
}

.recipe-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 1.2rem;
  border-bottom: 1px solid #00000057
}