.recipe-collection-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 3em;
  padding: 1em 0;
  scroll-behavior: smooth;
}

/* Masquer la scrollbar sur certains navigateurs */
.recipe-collection-container::-webkit-scrollbar {
  display: none;
}

.article-header-see-more {
  display: flex;
  gap: .4em;
}

.recipe-collection-container {
  -ms-overflow-style: none;
  /* IE et Edge */
  scrollbar-width: none;
  /* Firefox */
}